In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import length
import pandas as pd

spark = SparkSession.builder.appName('LeetCode').getOrCreate()

24/12/24 14:43:40 WARN Utils: Your hostname, madiv resolves to a loopback address: 127.0.1.1; using 192.168.1.11 instead (on interface wlo1)
24/12/24 14:43:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/24 14:43:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
sparkDataset = spark.read.option('header', True).option('delimiter', ',').csv('Dataset.csv')
pandasDataset = pd.read_csv('Dataset.csv')

sparkDataset.show()
pandasDataset.head()

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|         Let us Code|
|       2|More than fifteen...|
+--------+--------------------+

   tweet_id                            content
0         1                        Let us Code
1         2  More than fifteen chars are here!

### SQL

In [3]:
def invalid_tweets(tweets: pyspark.sql.dataframe.DataFrame) -> pyspark.sql.dataframe.DataFrame:
    tweets.createOrReplaceTempView('Tweets')
    sqlQuery = \
    '''
    SELECT tweet_id FROM Tweets
    WHERE LENGTH(content) > 15
    '''
    output = spark.sql(sqlQuery = sqlQuery)
    return output

output = invalid_tweets(sparkDataset)
output.show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

### Pyspark

In [4]:
def invalid_tweets(tweets: pyspark.sql.dataframe.DataFrame) -> pyspark.sql.dataframe.DataFrame:
    output = tweets.filter(length(tweets.content) > 15).select('tweet_id')
    return output

output = invalid_tweets(sparkDataset)
output.show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

### Pandas

In [5]:
def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    output = tweets[tweets.content.str.len() > 15].tweet_id
    output = pd.DataFrame(output)
    return output

output = invalid_tweets(pandasDataset)
output.head()

   tweet_id
1         2